<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <!-- BODY ---------------------------------->

    <body>
        <br /><br />

        <H1>Admin</H1>
        <br />
        <a href="{{ path('my_blog_ajouter_article') }}">Ajouter un article</a>
        <br /><br /
    </body>

</html>

<!-- SCRIPT  ----------------------------------------- -->
