<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
         <img src="http://t3.gstatic.com/images?q=tbn:ANd9GcRx3IO8vlrXxMIvhGA0jR9jloygtgFuwctQnuE4H1kwMK90ega8h2NKQoA" alt="Smiley face" > 
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>


    <style>

    body{
    color: red;
    margin: 20px;
    padding: 10px;
    background-color: #EDEFED;
    }

    img {
    border-radius: 8px;
    }


    H1{
       font-family: arial;
       font-size: 50px; 
    }

    li{
        font-size: 20px;
        padding: 5px;
    }

    thead{
        color: orange;
        font-size: 20px;
        font-family: Time;

    }


    </style>
</html>

