<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

    <!-- BODY ---------------------------------->

    <body>

        <br /><br />
        <br /><br />

        <center><H1>Accueill de Blog<H1/></center>

          <br /><br />
        
        
          <br /><br />

        <center><img src="http://t3.gstatic.com/images?q=tbn:ANd9GcRx3IO8vlrXxMIvhGA0jR9jloygtgFuwctQnuE4H1kwMK90ega8h2NKQoA" alt="Smiley face" ></center>



    <!-- SCRIPT  ----------------------------------------- -->
    
    </body>

</html>
