<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <!-- BODY ---------------------------------->

    <body>
        <br /><br />

        <center><H1>Accueill de Blog<H1/></center>

        <br /><br />
    
    </body>

</html>

<!-- SCRIPT  ----------------------------------------- -->
