<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>

    <!-- BODY ---------------------------------->
    
    <body>
        <br /><br />

        <center><H1>Accueill de Blog<H1/><p>Test Blog</p></center>
        <p>TEST PUBLIC ! </p>
        
        <br /><br />
    
    </body>
</html>

<!-- SCRIPT  ----------------------------------------- -->
