<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />

    <!-- BODY ---------------------------------->

    <body>
    <br />

    <H1>Blog, page : {{ page }}<H1/>
    
    <br /><br />
        
    <!-- SCRIPT  ----------------------------------------- -->
    </body>

</html>
