<html>
<body>
<br />
 <center><img src="http://www.ivangabriele.com/wp-content/uploads/2015/06/Symfony-1024x512.png" alt="Smiley face" height="100%" width="100%"></center> 

<center>
<br /> 
Hello World!  
<br />
<H1>C'est TEST</H1>
<br />
</center>
</body>
</html>